{% extends "account/base.html" %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center px-2 py-4">
        <div>
            <h2 class="text-center">Change password</h2>
            <form action="{% url "password_change" %}" method="POST" class="p-3" novalidate>
                {% csrf_token %}

                <!--Old Password Field-->
                <div class="form-group">
                    <label for="old_password">Old Password</label>
                    <input type="password" class="form-control" id="old_password" name="old_password" aria-describedby="old_passwordHelp" placeholder="Enter old password">
                    
                    {% if form.old_password.errors %}
                    <p class="text-danger">
                        {% for error in form.old_password.errors %}
                            {{error}}
                        {% endfor %}
                    </p>
                    {% endif %}

                </div>

            
                <!--New Password Field-->
                <div class="form-group">
                    <label for="new_password1">New Password</label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1" aria-describedby="new_password1_Help" placeholder="Enter new password">

                    {% if form.new_password1.errors %}
                    <p class="text-danger">
                        {% for error in form.new_password1.errors %}
                            {{error}}
                        {% endfor %}
                    </p>
                    {% endif %}

                </div>

            
                <!--New Password Confirm Field-->
                <div class="form-group">
                    <label for="new_password2">Confirm New Password</label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2" aria-describedby="new_password2Help" placeholder="Confirm new password">

                    {% if form.new_password2.errors %}
                    <p class="text-danger">
                        {% for error in form.new_password2.errors %}
                            {{error}}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-danger">Change Password</button>


                
            </form>
        </div>
    </div>
{% endblock content %}