{% extends "account/base.html" %}

{% load static %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center px-2 py-4">
        <div>
            <h2 class="text-center">Reset Your Password</h2>
            <form action="{% url "password_reset" %}" method="POST" class="p-3" id="reset-password-form" novalidate>
                {% csrf_token %}

                <!--Email Field-->
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" value="{{form.email.value|default:''}}" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    {% if form.email.errors %}
                        <div class="text-danger">
                            {% for error in form.email.errors %}
                                <p> {{error}} </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>


                <button type="submit" class="btn btn-danger">Send Password Reset Link</button>

                <hr><hr>

                <!--Login Link-->
                <div class="text-center">
                    <p><a href="{% url "login" %} text-danger btn btn-danger" id="submit-btn">Create an account</a></p>
                </div>
            </form>
        </div>
    </div>

    <script>
        const form = document.getElementById('reset-password-form')
        const submitBtn = document.getElementById('submit-btn')

        form.addEventListener('submit', function(event) {
            submitBtn.disabled = true
            submitBtn.innerText = "Sending..."

        })
    </script>
{% endblock content %}