{% extends "account/base.html" %}

{% load static %}

{% block title %}Password Reset Confirm{% endblock title %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center px-2 py-4">
        <div>
            <h2 class="text-center">Set New Password</h2>
            <form action="#" method="POST" class="p-3" id="reset-password-form" novalidate>
                {% csrf_token %}

                <!--Password Field-->
                <div class="form-group">
                    <label for="new_password1">New Password</label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1" aria-describedby="newPasswordHelp" placeholder="Enter password" required>
                    {% if form.new_password1.errors %}
                    <div class="text-danger">
                        {% for error in form.new_password1.errors %}
                            <p> {{error}} </p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <!--Confirm Password Field-->
                <div class="form-group">
                    <label for="new_password2">Confirm Password</label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2" aria-describedby="confirmPasswordHelp" placeholder="Confirm password" required>
                </div>


                <button type="submit" class="btn btn-danger">Set Password</button>
            </form>
        </div>
    </div>

    <script>
        const form = document.getElementById('reset-password-form')
        const submitBtn = document.getElementById('submit-btn')

        form.addEventListener('submit', function(event) {
            submitBtn.disabled = true
            submitBtn.innerText = "Sending..."

        })
    </script>
{% endblock content %}